<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.citycloud.dashboard.dao.SysUserDao">
    <select id="findUserByUsername" parameterType="java.lang.String" resultType="com.citycloud.dashboard.dao.dataobject.SysUserDo">
        select * from sys_user where username = #{username}
    </select>
</mapper>